body {
  font-family: "Poppins", sans-serif;
  background-color: #f4faff;
}

header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-nav .nav-item {
  margin-right: 15px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.navbar-brand {
  margin-right: 30px;
}

main {
  background-color: #f4faff;
  height: 80vh;
  margin-top: 80px;
}

h1 {
  color: black;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

#home {
  margin-bottom: 100px;
}

#information {
  margin-top: 25px;
}

#contact {
  margin-top: 25px;
  margin-bottom: 200px;
}

#meet-the-team .placeholder {
  background-color: #f4faff;
  border-radius: 10px;
}

.logo {
  width: 300px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

.text-center {
  position: relative;
  z-index: 1;
}
